@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face{
  font-family: "burtons";
  src: url("../public/burtons.otf");
}

::-webkit-scrollbar{
  width:15px;
}

::-webkit-scrollbar-track{
  box-shadow:inset 0 0 2px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: rgb(20,184,166);
  background: linear-gradient(180deg, rgba(20,184,166,1) 15%, rgba(42,0,255,1),84%);
  border-radius: 10px;

}